@charset "UTF-8"; 
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #1E50F3;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #F3C11E;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #1D4D92;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #1D4D92;
	margin: 30px;
	float: left;
	width: 100%;
	text-align: left;
}
img {
	margin: 30px;
	border-color: #F3C11E;
	border-width: 4px;
	border-style: solid;
	border-radius: 10px;
}
p {
	margin: 20px;
}
h3 {
	margin: 20px;
}
.footer {
	background: #1D4D92;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #F3C11E;
}
a:visited {
     color: #F3C11E;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
