@charset "UTF-8"; 
/*1E50F3, F3C11E, 1E50F3, D3A40B, 1E50F3 */
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #1E50F3;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #F3C11E;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #F3C11E;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #1E50F3;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #D3A40B;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
